
    *{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
    }
        #headerContainer {
            display: flex;
            background-color: black;
            align-items: center;
            justify-content: space-around;            
            height: 90px;
            
        }

        .whiteText {
            color: white;
        }

        #headerContainerleft {
            display: flex;
            justify-content: center;
        }

        #headerLogo {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            background-color: white;
            margin-right: 5px;
        }

        #abstract {
            font-weight: bold;

        }

        #line {
            margin-left: 5px;
            margin-right: 5px;
        }

        #request {
            background-color: black;
            margin-right: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        #signIn {
            background-color:cadetblue;
            padding: 10px;
            border-radius: 5px;
        }

        #searchBarSection {
            background-color:#dadbf1;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        #searchHelp {
            font-size: 80px;
    
        }

        #searchInputContainer {
            margin-top: 20px; /* Adjust as needed */
        }

        #searchInput{
            height: 50px;
            width: 800px;
            border-radius: 3px;

        }

       #mainContainer {
        display: grid;
        height: 100%;
        place-items: center;
        margin: 200px; 
       }

       #grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr)); /* Two columns with min-width of 200px */
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
       }

        .mainSectionContainer{
            font-size: 22px;
            display: flex;
            flex-direction: row;
          
            
        }

        .category-list-svg-icon {
            max-height: 80px;
            margin-right: 20px;
        }

        .learnMore {
            text-decoration: none;
            color: #4C5FD5;
        }

        @media screen and (max-width: 600px) {
            #searchInput {
                width: 100%; /* Adjust input width for smaller screens */
                max-width: 300px; /* Limit maximum input width */
            }
        
            #grid {
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust grid columns for smaller screens */
                gap: 10px; /* Adjust gap for smaller screens */
            }
        }

        #footer {
            background-color: black;
            padding: 50px;
        }

        #footerContainter {
            display: grid;
            height: 100%;
            place-items: center;
        }

        #footerGrid {
            display: grid;
            grid-template-columns: repeat(5, minmax(80px, 1fr));
        
            gap: 20px;
        }

        .footerText {
            color: white;
            font-size: 18px;
            text-align: left;
            width: 100px;
        }

    .links {
        color: white;
        text-decoration: none;
    }

    #rightFooterDiv {
        display: flex;
        align-items: flex-end;
    }

  .footerTitles {
    color: #dadbf1;
    font-weight: bold;
    font-size: 22px;
  }

  /* Media query to stack the p elements vertically */
@media screen and (max-width: 600px) {
    #footerGrid {
        grid-template-columns: repeat(5, 1fr); /* Each column takes full width */
    }
}
